<div class="row">
  <div class="col s12">
    <% if current_user %>
      <p>Prompt in <%= cue.category %></p>
      <h5><%= cue.body %></h5>
      <%= image_tag current_user.image_url, alt: current_user.username, size: 36, class: "left" %>
      <%= link_to "Start Medium Draft", "/draft", class: "waves-effect waves-light btn" %>
      <%= link_to "Log Out", logout_path,  class: "right waves-effect waves-light btn",
        method: :delete %>
    <% end %>

    <% if !current_user %>
      <p>Stuck on your next post?</p>
      <h5>Simple creative prompts for product, design, and technical writers.</h5>
      <%= link_to "Connect to Medium", "/auth/medium", class: "waves-effect waves-light btn" %>
    <% end %>
  </div>
</div>
